<div class="header">
  <div class="container">
    <%= image_tag("setuserv.png", :alt => "Setu Serv") %>
    <h1>Messenger</h1>
  </div>
</div>

<div class="create">
  <div class="container">
    
  <%= form_for(@message) do |f| %>  
		<div class="field">
		  <%= f.label :message %>
		  <%= f.text_area :content %> 
		</div>

		<div class="actions"> 
		  <%= f.submit "Create" %> 
		  <%= link_to "Log out", logout_path, method: "delete" %>
		</div> 
		
    <br><br>logged in as <%= current_user.email %><br>
	<% end %>
    
  </div>
</div>

