<div class="header">
  <div class="container">
    <%= image_tag("setuserv.png", :alt => "Setu Serv") %>
    <h1>Messenger</h1>
  </div>
</div>

<div class="create">
  <div class="container">
    
  <%= form_for(@message) do |f| %>  
		<div class="field"> 
		  <label>Name</label></br>
		  <%= f.text_field :name %><br><br>
		  <%= f.label :message %>
		  <%= f.text_area :content %> 
		</div> 
		<div class="actions"> 
		  <%= f.submit "Create" %> 
		</div> 
	<% end %>
    
  </div>
</div>

